[project]
name = "platzi-python-poo"
version = "0.1.0"
description = "Proyecto Biblioteca"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "ruff>=0.15.1",
]
